@model ShopDemo.Models.KhachHang

<h2>Đăng ký</h2>

<form method="post">
    <div>
        <label>Họ tên</label>
        <input name="TenKH" required />
    </div>

    <div>
        <label>Ngày sinh</label>
        <input type="date" name="NgaySinh" />
    </div>

    <div>
        <label>Username</label>
        <input name="Username" required />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="Password" required />
    </div>

    <button type="submit">Đăng ký</button>
</form>