<h2>💳 Thanh toán online</h2>

<form method="post" action="/Order/ConfirmPayment">

    <input placeholder="Số thẻ" class="form-control mb-2" />
    <input placeholder="Tên chủ thẻ" class="form-control mb-2" />
    <input placeholder="MM/YY" class="form-control mb-2" />
    <input placeholder="CVV" class="form-control mb-2" />

    <button type="submit" class="btn btn-success">
        Xác nhận thanh toán
    </button>

</form>